# RETROACHIEVEMENTS_USERNAME: Your RetroAchievements.org username.
# RETROACHIEVEMENTS_API_KEY: Your RetroAchievements.org API key.
# Get yours at https://retroachievements.org/controlpanel.php
RETROACHIEVEMENTS_USERNAME="placeholder_user"
RETROACHIEVEMENTS_API_KEY="placeholder_key"
